/* logo */
.skin-blue .main-header .logo {
                      background-color: #337ab7;
                      font-family: trebuchet ms;
                      }

/* logo when hovered */
.skin-blue .main-header .logo:hover {
                      background-color: #6baed6;
                      }


/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
                      background-color: #337ab7;
                      } 
                      

/* main sidebar */
.skin-blue .main-sidebar {
                      background-color: #337ab7;
                      }

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                      background-color: #6baed6;
                      }
                      

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
                      background-color: #337ab7;
                      color: #fff;
                      }

/* other links in the sidebarmenu when hovered */
 .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                      background-color: #6baed6;
                      }
                      
/* toggle button when hovered  */                    
 .skin-blue .main-header .navbar .sidebar-toggle:hover{
                      background-color: #6baed6;
                      }

.right_align{
  display: block;
  float:right;
  margin-right: 9px;
}
.center_align{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 9px;
}
.indent{
  margin-left: 9px;
  margin-top: 3px;
  margin-bottom: 9px;
}
.shiny-notification {
           height: 50px;
           width: 800px;
           position:fixed;
           top: calc(50% - 50px);;
           left: calc(50% - 400px);;
           }